body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#bar {
    position: relative;
    background: url('../image/photo-2.jpeg') center/cover no-repeat;
}


.logo{
    width: 60px;
    margin-left: 20px;
}

#nav-text{
    color: white;
    font-weight: bold;
}

.navbar-nav{
    margin-right: 20px;
}

.navbar-toggler {
    border-color: white;
    margin-right: 20px;
} 

.frame {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 5px; 
    width: 70%;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.aboutme{
    display: flex;
    gap: 20px;
}

.personimage{
    width: 220px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}
.personimage img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.summary{
    width: 70%;
    text-align: left;
}

.projects{
    flex-direction: column;
}

.certificates{
    flex-direction: column;
}